
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - mongo

  backend:
    build:
      context: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - mongo

  mongo:
    image: mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: