version: '3.8'

services:

  frontend:
    image: sajithamaduranga/devops_frontend_image:latest
    container_name: devops_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped


  backend:
    image: sajithamaduranga/devops_backend_image:latest
    container_name: devops_backend
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    networks:
      - app-network
    environment:
      - MONGODB_URI=mongodb://admin:password@mongo:27017/docker-project?authSource=admin
      - PORT=4000
      - NODE_ENV=production
      - JWT_SECRET=your-super-secret-jwt-key
    restart: unless-stopped


  mongo:
    image: mongo:latest
    container_name: devops_mongo
    ports:
      - "27017:27017"
    networks:
      - app-network
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=docker-project
    restart: unless-stopped


networks:
  app-network:
    driver: bridge


volumes:
  mongo_data:
