.homePage {
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container to center both box and button */
.heroContainer {
  position: absolute;
  top: 60%;         /* adjust up/down */
  left: 0%;        /* move to left edge */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
/* Green background box */
.heroSection {
  background-color: rgba(23, 193, 23, 0.5);
  padding: 40px 50px;
  border-radius: 30px;
  color: white;
  margin-bottom: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
}

/* Hero Text */
.heroTitle {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Button Styling */
.exploreButton {
  padding: 14px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: #13a013;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
align-self: center;

}

.exploreButton:hover {
  background-color: #0f8010;
}

.arrow {
  margin-left: 8px;
  font-size: 22px;
}
.exploreButton {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #1ae2009d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.exploreButton:hover {
  background-color: #3ae600;
}

.arrow {
  margin-left: 8px;
}
